In [21]:
import pandas as pd 
from sqlalchemy.engine import create_engine

In [2]:
%load_ext sql

In [25]:
engine = create_engine('mysql://root:P@ssword1@localhost/covid')

In [15]:
%sql select * from deaths limit 5

 * mysql://root:***@localhost/covid
5 rows affected.

[('AFG', 'Asia', 'Afghanistan', '2/24/2020', 39835428, 5, 5, None, None, None, None, 0.126, 0.126, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('AFG', 'Asia', 'Afghanistan', '2/25/2020', 39835428, 5, 0, None, None, None, None, 0.126, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('AFG', 'Asia', 'Afghanistan', '2/26/2020', 39835428, 5, 0, None, None, None, None, 0.126, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('AFG', 'Asia', 'Afghanistan', '2/27/2020', 39835428, 5, 0, None, None, None, None, 0.126, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('AFG', 'Asia', 'Afghanistan', '2/28/2020', 39835428, 5, 0, None, None, None, None, 0.126, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r')]

In [16]:
nigeria = %sql select * from deaths where location = 'Nigeria' limit 5

 * mysql://root:***@localhost/covid
5 rows affected.

In [17]:
nigeria

[('NGA', 'Africa', 'Nigeria', '2/28/2020', 211400704, 1, 1, None, None, None, None, 0.005, 0.005, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('NGA', 'Africa', 'Nigeria', '2/29/2020', 211400704, 1, 0, None, None, None, None, 0.005, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('NGA', 'Africa', 'Nigeria', '3/1/2020', 211400704, 1, 0, None, None, None, None, 0.005, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('NGA', 'Africa', 'Nigeria', '3/2/2020', 211400704, 1, 0, None, None, None, None, 0.005, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r'),
 ('NGA', 'Africa', 'Nigeria', '3/3/2020', 211400704, 1, 0, None, None, None, None, 0.005, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, '\r')]

In [18]:
%%sql 

select location, date, total_deaths from deaths limit 5

 * mysql://root:***@localhost/covid
5 rows affected.

[('Afghanistan', '2/24/2020', None),
 ('Afghanistan', '2/25/2020', None),
 ('Afghanistan', '2/26/2020', None),
 ('Afghanistan', '2/27/2020', None),
 ('Afghanistan', '2/28/2020', None)]

In [23]:
df = pd.read_sql('select * from vaccinations limit 5', conn)

In [24]:
df

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,None,None,None,None,None,None,...,None,None,37.746,None,64.83,0.511,None,None,None,\r
1,AFG,Asia,Afghanistan,2/25/2020,None,None,None,None,None,None,...,None,None,37.746,None,64.83,0.511,None,None,None,\r
2,AFG,Asia,Afghanistan,2/26/2020,None,None,None,None,None,None,...,None,None,37.746,None,64.83,0.511,None,None,None,\r
3,AFG,Asia,Afghanistan,2/27/2020,None,None,None,None,None,None,...,None,None,37.746,None,64.83,0.511,None,None,None,\r
4,AFG,Asia,Afghanistan,2/28/2020,None,None,None,None,None,None,...,None,None,37.746,None,64.83,0.511,None,None,None,\r

In [28]:
engine.dispose()